<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to t("about"), about_path %></li>
      <li><%= link_to t("contact"), contact_path %></li>
      <li><a href="<%= Settings.news %>"><%= t("news") %></a></li>
    </ul>
  </nav>
</footer>
